div {
  vertical-align: baseline;
}

.todos {
  display: flex;
  justify-content:space-between;
  margin-bottom: 5px;
  padding: 10px 0;
  border-top: 1px dotted #b9b9b9;
  line-height: 30px;
  min-height: 30px;
}

.todo-title {
  margin: 0 5px 0 5px;
  padding-left: 10px;
}

input[type=checkbox] {
  vertical-align: baseline;
  cursor: pointer;
}

input:checked + span {
  text-decoration: line-through;
}