div {
  vertical-align: baseline;
}

.todos {
  display: flex;
  justify-content:space-between;
  flex-grow: 1;
  margin-bottom: 5px;
  padding: 10px 5px;
  border-top: 1px dotted #b9b9b9;
  line-height: 30px;
  min-height: 30px;
}

.todo-title {
  flex-grow: 1;
  padding-left: 10px;
}

.todo-checkbox {
  margin: auto;
}

.todo-complete {
  text-decoration: line-through;
}